<pre id="pull"></pre>

<div id="push">
    <form role="form" class="form-inline">
        <div class="row">
            <div class="col-lg-10">
                <textarea class="form-control" placeholder="Type message..."></textarea>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-lg btn-block" type="submit">Push</button>
            </div>
        </div>
    </form>
</div>

<div id="modal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Set username...">
                    </div>
                    <button class="btn btn-primary" type="submit">Set</button>
                </form>
            </div>
        </div>
    </div>
</div>

<small id="status">disconnected</small>